<h1>Show Page</h1>
<p>
    Name:<br>
    <%= @item.name %> 
</p>

<p>
    Price:<br>
    <%= @item.price %> 
</p>

<p>
    Description:<br>
    <%= @item.description %> 
</p>

<p>
    Delivery_fee:<br>
    <%= @item.delivery_fee %> 
</p>

<%= link_to '購入手続きへ',  new_order_path(@item.id) %>

<%= link_to '一覧に戻る', items_path %>
